<div class="limiter">
    <div class="container-connector">
        <div class="wrap-connector">
            <form class="connector-form validate-form">
                <span class="connector-form-title p-b-33">
                    Urchin Cypher
                </span>

                <div class="wrap-connector">
                    <input class="connector" type="text" [formControl]="password" placeholder="Password">
                    <span class="focus-connector-1"></span>
                    <span class="focus-connector-2"></span>
                </div>

                <div class="container-connector-form-btn">
                    <button class="connector-form-btn" type="button" (click)="onConnect()">
                        Connect to
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
    